body,html {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}
.cell {
    width: 100%;
    height: 97vh;
    background: rgb(160, 198, 199);
    padding: 30px;
}
.split {
    display: flex;
}
.gutter {
    background-color: darkslategrey;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    cursor: col-resize;
}